.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input .input__title {
    font-size: 1.2rem;
    font-weight: 700;
}

.input .input__input {
    height: 25px;
    font-size: 1rem;
    outline: none;
}

.input .input__button {
    background: darkgreen;
    text-transform: uppercase;
}