.list__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list__item .list__item__text {
    font-size: 1rem;
    /* color: white; */
}

.list__item .list__item__button {
    background: darkred;
    font-size: 1rem;
    padding: 1px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}